.scrollbar::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(30, 138, 182, 0.8);
    border-radius: 0.25rem;
    border: 1px solid var(--main-text-color);
}

.scrollbar::-webkit-scrollbar-track {
    background-color: var(--main-text-color);
    border-radius: 0.25rem;
}

@supports not selector(::-webkit-scrollbar) {
    .scrollbar {
        scrollbar-width: thin;
        scrollbar-color: rgba(30, 138, 182, 0.8) var(--main-text-color);
    }
}